body{
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
    background-color: lightblue;

    display: flex;
    align-items: center;
    justify-content: center;
}

.start{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

h1{
    font-size: 10rem;
    padding: 0px;
    margin: 20px 0px;
}

.button, .play-button, .quit-button{
    width: 150px;
    height: 40px;
    padding: 10px;
    border: none;
    align-self: center;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 20px;
}

input{
    padding: 5px;
    margin: 10px 0px 20px 0px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    padding: 0px;
}

input:focus-visible{
    outline: none;
}

.footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.container{
    background-color: grey;

    display: flex;
    position: relative;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

.instructions{
    display: flex;
    position: absolute;
    left: 20px;
    top: -3rem;
    gap: 100px;
    font-size: 3rem;
}

img.instruction{
    position: relative;
    height: 3rem;
    width: 3rem;
    left: -10px;
    top: 10px;
}

.container.invisible, .start.invisible, .end.invisible{
    display: none;
    position: absolute;
    height: 0px;
    width: 0px;
}

.container.visible{
    height: clamp(400px, 600px, 800px);
    width: clamp(400px, 600px, 800px);
}

.board{
    display: grid;
    background-color: black;
    height: 90%;
    width: 90%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    border: 10px black solid;
    
}

.boardItem{
    background-color: lightgrey;
}

.peice{
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.announcement{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    font-size: 3rem;
}

.playerName{
    font-size: 2rem;
}

.buttons{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
